<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- For IOMobileFramebuffer functions -->
	<key>com.apple.security.iokit-user-client-class</key>
	<string>IOMobileFramebufferUserClient</string>

	<!-- For DFR Brightness control -->
	<key>com.apple.private.dfr.brightness-access</key>
	<true/>
</dict>
</plist>
